﻿* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#articleContainer .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

    #articleContainer .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

#paginationContainer {
    margin-top: 50px;
}

.header {
    display: inline-block;
    width: 100vw;
    margin-left: -15px;
    background-color: rgb(0,140,255);
}

    .header div {
        padding: 50px 0;
    }


.article {
    color: black;
    margin-top: 50px;
    transition: 200ms;
}

    .article a {
        display: block;
        color: black;
        height: 100%;
        box-shadow: rgba(0,0,0,.1) 1px 1px;
        transition: 200ms;
    }

        .article a:hover, .article a:focus {
            box-shadow: rgba(0,0,0,.1) 2px 2px 5px 5px;
            text-decoration: none;
            transform: scale(1.05);
        }

        .article a .article-date {
            margin-left: 10px;
            color: gray;
        }

        .article a .article-tags {
            float: right;
            padding: 5px 10px;
            border-radius: 0 0 0 5px;
            background-color: rgb(0,140,255);
        }

        .article a h4 {
            font-weight: 600;
        }

        .article a h4, .article a p {
            padding: 0 10px;
        }

.page {
    padding: 5px;
    margin-top: 50px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

    .page:hover, .page:focus {
        text-decoration: none;
        color: #337ab7;
    }

    .page.active {
        text-decoration: underline;
        color: #337ab7;
    }

.filter-dropdown {
    padding: 10px;
}
