﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<NewsOverviewPage>
@using Newtonsoft.Json
@using Perplex_Opdracht.Repositories

@Html.Partial("Compositions/Header", Model as IHeaderComposition)

@{ 
    var allTags = TagsRepository.GetTags(Model);
}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1" id="filterContainer">
            <label for="filterDropdown">Selected filter: </label>
            <select class="filter-dropdown" id="filterDropdown">
                <option class="filter-tag" value="-1">No filter</option>
                @foreach (var tag in allTags)
                {
                    <option class="filter-tag" value="@tag.Id">@tag.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="newsArticleContainer">
            <div id="articleContainer">

            </div>
            <div id="paginationContainer">
                <div class="row pages"></div>
                <div class="row page-info"></div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/newsApiController.js"></script>
</div>
