﻿@using ContentModels = Umbraco.Web.PublishedModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsPage>


@Html.Partial("Compositions/Header", Model as IHeaderComposition)

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img class="img-responsive" src="@Model.HeaderImage.Url" />
        </div>
    </div>
</div>

@Html.Partial("Compositions/Content", Model as IContentComposition)