﻿@using Perplex_Opdracht.Constants;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @{
        var pageSettings = UmbracoConstants.CurrentPage as IPageSettingsComposition;

        string pageTitle = UmbracoConstants.CurrentPage.Name;
        if (pageSettings != null && !string.IsNullOrWhiteSpace(pageSettings.PageTitle))
        {
            pageTitle = pageSettings.PageTitle;
        }

        var pageTitleSuffix = UmbracoConstants.Website.PageTitleSuffix;

        if (!pageSettings.DoNotAppendPageTitleSuffix)
        {
            pageTitle += pageTitleSuffix;
        }
    }

    <title>@pageTitle</title>

    @Styles.Render("~/Content/bootstrap.min.css",
                   "~/Content/Site.css"
    )

    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js",
                    "~/Scripts/bootstrap.min.js"
    )
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@UmbracoConstants.Website.Url" class="navbar-brand">@UmbracoConstants.Website.PageTitle</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (UmbracoConstants.Website.NavigationItems.Any())
                    {

                        foreach (var rawPage in UmbracoConstants.Website.NavigationItems)
                        {
                            var page = rawPage as IPageSettingsComposition;
                            <li><a href="@page.Url">@page.PageTitle</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Luuk Diederik</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
